{%- comment -%}
  Include vars:
	title
	subtitle
	photo
	photo-alt
	auto-header
	content
	date
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.photo and include.photo-alt -%}
	{%- capture _photo -%}
		<img src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" class="back">
	{%- endcapture -%}
	{%- assign _class = 'shade-one cover dark' -%}
{%- else -%}
	{%- assign _photo = '' -%}
	{%- capture _class -%}shade-{%- cycle 'two', 'three', 'four', 'three' -%}{%- endcapture -%}
{%- endif -%}

{%- if include.auto-header == 'none' -%}
	{%- assign _heading = "" -%}
{%- else -%}
	{%- capture _heading -%}
		<header>
			<h2>
        {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
          {{- _title -}}
        {%- else -%}
          {{- include.auto-header -}}
        {%- endif -%}
      </h2>
      {%- if include.subtitle -%}<h3>{{- include.subtitle -}}</h3>{%- endif -%}
	  {%- if include.date -%}<br /><h4 >{{- include.date | date: '%B %d, %Y' -}} 
		  &nbsp;&nbsp;⏳ &nbsp;{{ include.content | reading_time }} read{%- endif -%}</h4>
		</header>
	{%- endcapture -%}
{%- endif -%}

<section id="{{- _slug -}}" class="{{- _class -}}">
  <div class="container">
    {{- _photo -}}
    {{- _heading -}}
    {{- include.content -}}
  </div>
</section>
